absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
breadability==0.1.20
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
cytoolz==0.12.1
debugpy==1.6.6
decorator==5.1.1
distlib==0.3.6
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
executing==1.2.0
fastapi==0.96.0
ffmpy==0.3.0
filelock==3.10.6
flatbuffers==23.3.3
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.5.0
funcy==1.18
gast==0.4.0
gensim==3.6.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==3.34.0
gradio_client==0.2.6
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
idna==3.4
imageio==2.26.1
importlib-metadata==6.8.0
iniconfig==2.0.0
ipykernel==6.21.3
ipython==8.14.0
jax==0.4.6
jedi==0.18.2
jellyfish==0.9.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.0.3
jupyter_core==5.2.0
kaggle==1.5.16
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.2
libclang==15.0.6.1
lightgbm==3.3.5
linkify-it-py==2.0.2
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
nest-asyncio==1.5.6
networkx==3.0
nltk==3.8.1
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.8
opencv-python==4.7.0.72
opt-einsum==3.3.0
orjson==3.9.1
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathy==0.10.1
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
plotly==5.13.1
pluggy==1.0.0
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pydantic==1.10.6
pydeck==0.8.1b0
pydub==0.25.1
pyemd==1.0.0
Pygments==2.14.0
pyLDAvis==3.4.0
Pympler==1.0.1
pyparsing==3.0.9
pyphen==0.14.0
pyrsistent==0.19.3
pytest==7.3.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
python-slugify==8.0.1
python-version==0.0.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==305
PyYAML==6.0
pyzmq==25.0.1
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semantic-version==2.10.0
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
streamlit==1.24.1
summa==1.2.0
sumy==0.11.0
sympy==1.12
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc1
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0rc1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
text-unidecode==1.3
textacy==0.9.1
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.3.21
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.29.2
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
ultralytics==8.0.146
urllib3==1.26.15
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.21.0
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.2.3
wget==3.2
wrapt==1.14.1
yarl==1.9.2
zipp==3.16.1
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
ultralytics==8.0.145
dill==0.3.3